@model  IEnumerable<WHouse.Models.Userr>



@{
    ViewBag.Title = "StartJob";
}

<h2>StartJob</h2>

<div>
    @if (Model != null)
    {
        <table class="table table-striped">
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.name</td>
                    <td>@item.surname</td>
                    <td>@item.phone</td>
                    <td>@item.isBusy</td>
                </tr>
                }

            </tbody>
        </table>
    }

</div>
