@model IEnumerable<WHouse.Models.OrderProduct>

@{
    Layout = null;
}

@{
    string LoggedInId = Session["ID"].ToString();
}
@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Užsakymas</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <table class="table">
            <tr>
                <th>
                    Kiekis
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustumerOrder.orderNumer)
                </th>
                <th>
                    Produktas
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (@LoggedInId == item.CustumerOrder.fk_UserID.ToString())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustumerOrder.orderNumer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inventory.productName)
                        </td>
                    </tr>
                }
            }
        </table>
    </body>
</html>
}
